.all-calendar {
    display: flex;
    flex-direction: column;
}

.all-calendar-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.btn-today {
    height: 2rem !important;
    margin-top: 5px;
    background-color: #fcfeff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    margin-right: 20px;
    border: solid 1px;
    border-color: #adadad;
    border-radius: 4px;
}
