.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    border-bottom: 1px solid #777777;
}

.calc-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #f7f7f7;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    border-bottom: 1px solid #777777;
}

.header-txt {
    font-size: 150%;
    padding-top: 5px;
    padding-left: 10px;
}

.btn-today:hover {
    transform: scale(1.2);
}

.calendar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.calendar-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
