html {
    --lh: 1.4rem;
    line-height: var(--lh);
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.tile {
    width: 250px;
    border-style: solid;
    border-width: thin;
    border-color: #adadad;
    box-shadow: 2px 2px #cccccc;
    border-radius: 2px;
    overflow: hidden;
}

.disabled-tile {
    width: 200px;
    border-style: solid;
    border-width: thin;
    border-color: #adadad;
    box-shadow: 2px 2px #cccccc;
    border-radius: 2px;
    overflow: hidden;
    opacity: 0.3;
}

.legends {
    display: flex;
    flex-direction: row;
}

.txt {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.truncate {
    --max-lines: 5;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
}

.truncate-overflow {
    --max-lines: 4;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem;
}
.truncate-overflow::before .truncate::before {
    position: absolute;
    content: "...";
    inset-block-end: 0;
    inset-inline-end: 0;
}
.truncate-overflow::after .truncate::after {
    content: "";
    position: absolute;
    inset-inline-end: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.star-disabled {
    height: 20px;
    width: 20px;
}

.circle-with-text-disabled {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 2px;
    font-size: 12px;
    padding: 8px;
    display: flex;
    height: 8px;
    width: 8px;
}

.pads {
    padding-left: 5px;
    padding-right: 5px;
}
